body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center the charts */
    align-items: center; /* Vertically center the charts */
    flex: 1; /* This will make the container take up all available space */
}

.chart-container {
    flex: 1 0 45%;
    max-width: 35%;
    height: 40%; /* Reduce height */
    margin: 2.5%;
    box-sizing: border-box;
}

.bar-chart-container {
    flex: 1 0 90%;
    max-width: 40%;
    height: 40%; /* Reduce height */

}
