<!DOCTYPE html>
<html>
<head>
    <title> Finance App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/financeapp.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="flex-container">
            <div class="form-container">
                <h1>Investment Entry</h1>
                <form action="#" method="post" id="investmentForm">
                    <label for="stockTicker">Stock Ticker:</label>
                    <input type="text" id="stockTicker" name="symbol" required><br><br>
                    <label for="investmentAmount">Investment Amount:</label>
                    <input type="number" id="investmentAmount" name="investmentAmount" required><br><br>
                    <div class="input-row">
                        <div class="input-group">
                            <label for="returnRate">Annualized Return Rate %</label>
                            <input type="number" id="returnRate" name="returnRate" step="0.01">
                            <p class="note"><strong>Note: Default return rate % is from YFin API</strong></p>
                        </div>
                    </div>
                    <label for="timeFrame">Desired Time Frame (years):</label>
                    <input type="number" id="timeFrame" name="timeFrame" min="1" required><br><br>
                    <div class="inflation-container">
                        <label for="inflation">Expected Inflation Rate %</label>
                        <input type="number" id="inflation" name="inflation" step="0.01">
                    </div>
                    <label for="fileUpload">Upload File:</label>
                    <input type="file" id="fileUpload" name="fileUpload"><br><br>
                    <input id="submit" type="submit" value="Submit">
                </form>
            </div>
            <div class="table-container">
                <h1>Portfolio Management</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Stock Price ($)</th>
                            <th>Investment Amount ($)</th>
                            <th>Time Frame (years)</th>
                            <th>Annualized Return Rate (%)</th>
                            <th>Real Rate (%)</th>
                            <th>Confidence Interval (%)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data %}
                        <tr>
                            <td>{{ data.stock_symbol }}</td>
                            <td>{{ data.current_price }}</td>
                            <td>{{ data.investment_amount }}</td>
                            <td>{{ data.time_frame }}</td>
                            <td>{{ data.annualized_return }}</td>
                            <td>{{ data.real_rate }}</td>
                            <td>{{ data.confidence_interval }}</td>
                            <td><button class="remove-btn">X</button></td>
                        </tr>
                        {% endif %}
                    </tbody>
                    {% if data %}
                    <tr>
                        <td>{{ data.stock_symbol }}</td>
                        <td>{{ data.current_price }}</td>
                        <td>{{ data.investment_amount }}</td>
                        <td>{{ data.time_frame }}</td>
                        <td>{{ data.annualized_return }}</td>
                        <td>{{ data.real_rate }}</td>
                        <td>{{ data.confidence_interval }}</td>
                        <td><button class="remove-btn">X</button></td>
                    </tr>
                    {% endif %}
                </table>
                <br><br>
                <div class="button-container">
                    <button id="Generate" class="generate-report-btn" onclick="window.location.href='/investmentreport'">Generate Report</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/Financeapp.js') }}"></script>
</body>
</html>
