<!DOCTYPE html>
<html>
<head>
    <title>Investment Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="chart-container">
            <canvas id="pieChart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="lineChart"></canvas>
        </div>
        <div class="chart-container bar-chart-container">
            <canvas id="barChart"></canvas>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/chartConfig.js') }}"></script>
</body>
</html>
